doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "襪之心 - 呵護您的專屬腳寶貝"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@stockings", creator: "@stockings"}
- og.domain = "stockings.today"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "stockings"
- og.section = "Taiwan"
- og.keyword = "socks,stockings"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="static/css/index.css")
    link(rel="preconnect",href="//fonts.googleapis.com/",crossorigin)
    script(src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
    script(src="//cdn.firebase.com/js/client/2.4.2/firebase.js")
    script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.2.0/js/smooth-scroll.js")
    include fb-pixel.html
  body(ng-app="stockings",ng-controller="form")
    #thanks(ng-class="{'active':ctrl.done}",ng-cloak): .inner
      p.text-center 感謝您的訂購，我們將盡快為您處理訂單出貨。
      .text-center: .btn.btn-default.btn-lg(ng-click="form.reset()") 再訂一次
    #navbar.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#")
            img(src="img/logo.svg",style="height:24px")
            span 襪之心
        .navbar-collapse.collapse
          .nav.navbar-nav.navbar-right
            li: a(data-scroll,href="#a-feature") 產品介紹
            li: a(data-scroll,href="#a-form") 線上訂購
            li: a(data-scroll,href="#a-about") 關於我們
    #landing
      .title
        span 天冷了，腳也冷
        .subtitle 何不來買雙氣墊保暖襪？
        .desc 特殊紡織、雙層設計、彈性觸感、暖腳暖心 #[br]  — 你的足底值得最好的
      a.fa.fa-chevron-down(href="#a-feature",data-scroll)
    #a-feature.a-offset
    #feature.section: .inner
      .spc
      h2 氣墊保暖襪是什麼？
      br
      .row
        .col-sm-4
          .photo(style="background-image:url(img/detail/brief-alt.jpg)")
        .col-sm-8
          p 加厚的襪底、略帶彈性的觸感、在寒冷的冬天將我們細膩的足底與冰冷的地板妥善的隔絕開來，特殊材料與織法除了在底部建構出保暖層、留住體溫，也在行走時也呵護著我們的雙腳，彷彿踩著綿花般輕巧的步伐，才知道 — 原來走路也能成為一種享受。
          .sep
          .row.features.text-center
            .col-xs-4
              .feature(style="background-image:url(img/detail/warm.jpg)")
              .title 混織羊毛的#[b 暖和體感]
            .col-xs-4
              .feature(style="background-image:url(img/detail/air-alt.jpg)")
              .title 保護腳踝的#[b 彈性氣墊]
            .col-xs-4
              .feature(style="background-image:url(img/detail/texture-alt.jpg)")
              .title 精心挑選的#[b 舒適材質]
          br

    #a-form.a-offset
    #form.section: .inner
      .text-center
        h2 現在就下訂吧！
        .tiny.grayed 灰、黑、藍，三種款式供您挑選...
        br
      .choices.row.text-center
        .col-sm-1
        .col-sm-3
          .goods
            .photo(style="background-image:url(/img/goods/gray.jpg)")
            .title 樸質灰
            .price.out(ng-show="stocks.options[1].gray.length==1",ng-cloak) 已售完
            .price(ng-show="stocks.options[1].gray.length>1",ng-cloak) {{stocks.stocks[1].price.gray}} 元 / 雙
            select.form-control(ng-model="stocks.choices[1].gray",ng-disabled="stocks.options[1].gray.length==1",
            ng-options="item as item.count for item in stocks.options[1].gray track by item.count")
        .col-sm-4
          .goods
            .photo(style="background-image:url(/img/goods/black.jpg)")
            .title 沉靜黑
            .price.out(ng-show="stocks.options[1].black.length==1",ng-cloak) 已售完
            .price(ng-show="stocks.options[1].black.length>1",ng-cloak) {{stocks.stocks[1].price.black}} 元 / 雙
            select.form-control(ng-model="stocks.choices[1].black",ng-disabled="stocks.options[1].black.length==1",
            ng-options="item as item.count for item in stocks.options[1].black track by item.count")
        .col-sm-3
          .goods
            .photo(style="background-image:url(/img/goods/azure.jpg)")
            .title 純真藍
            .price.out(ng-show="stocks.options[1].azure.length==1",ng-cloak) 已售完
            .price(ng-show="stocks.options[1].azure.length>1",ng-cloak) {{stocks.stocks[1].price.azure}} 元 / 雙
            select.form-control(ng-model="stocks.choices[1].azure",ng-disabled="stocks.options[1].azure.length==1",
            ng-options="item as item.count for item in stocks.options[1].azure track by item.count")
        .col-sm-1
      br
      .text-center: small * 每筆訂單必須訂購三雙以上
      .sep.wide-gap
      .form
        .inner
          h3 寄送資訊
          .tiny.grayed #[i.fa.fa-lock] 透用 SSL 安全連線並採貨到付款，保障您的消費安全
          .sep
          .row
            .col-sm-3
              .form-group(ng-class="{'has-error':form.error.name,'has-feedback':form.error.name}")
                label 姓名
                input.form-control(type="text",name="name",
                placeholder="例如: 王小明",ng-keyup="form.check('name')",ng-model="form.name")
                .form-control-feedback(ng-show="form.error.name",ng-cloak) {{form.error.name}} #[i.fa.fa-close]
            .col-sm-3
              .form-group(ng-class="{'has-error':form.error.phone,'has-feedback':form.error.phone}")
                label 電話
                input.form-control(type="text",name="phone",
                placeholder="例如: 0910111111",ng-keyup="form.check('phone')",ng-model="form.phone")
                .form-control-feedback(ng-show="form.error.phone",ng-cloak) {{form.error.phone}} #[i.fa.fa-close]
            .col-sm-6
              .form-group(ng-class="{'has-error':form.error.addr,'has-feedback':form.error.addr}")
                label 寄送地址
                input.form-control(type="text",name="addr",
                placeholder="例如: 台北市羅斯福路一段一號",ng-keyup="form.check('addr')",ng-model="form.addr")
                .form-control-feedback(ng-show="form.error.addr",ng-cloak) {{form.error.addr}} #[i.fa.fa-close]
          .row
            .col-sm-6
              label 預期的送貨時段
              .btn-group.btn-block
                .btn.btn-default(ng-class="{'active':form.slot==0}",ng-click="form.slot=0") 皆可
                .btn.btn-default(ng-class="{'active':form.slot==1}",ng-click="form.slot=1") 白天
                .btn.btn-default(ng-class="{'active':form.slot==2}",ng-click="form.slot=2") 晚上
        .sep.gap

        label 購買明細
        .item(ng-repeat="item in form.order",ng-cloak)
          .price {{stocks.stocks[item.stockid].price[item.variant] * item.quantity}}
          .name {{stocks.stocks[item.stockid].name[item.variant]}} x {{item.quantity}}
        .item(ng-show="form.amount",ng-cloak)
          .price 60
          .name 運費
        .item(ng-show="!form.subtotal",ng-cloak)
          small.name
            span.grayed ( 尚未選取襪子 )
        .sep.gap
        .item(ng-cloak)
          .price {{form.subtotal || 0}} ( 元 )
          .name
            span 總計
            span(ng-show="form.amount > 0") &nbsp;{{form.amount}} 雙襪子
            span.text-error(ng-show="form.error.count") &nbsp; * {{form.error.count}}
        div(style="color:#920;margin-top:10px;border-top:1px dashed #ccc;padding-top:10px",
        ng-show="form.error",ng-cloak)
          i.fa.fa-warning
          span &nbsp;
          span(ng-show="form.error.subtotal") 您尚未選擇襪子數量，請先選定想買的襪子款式與數量喔！
          span(ng-show="!form.error.subtotal && form.error") 您的訂購資訊有誤，請修正後再次下單～
        br
        #a-reset.a-offset
        .btn.btn-success.btn-lg.btn-block(ng-click="form.submit()",
        ng-disabled="form.error",ng-hide="ctrl.done")
          span 購買
          img.loader(src="img/loading.gif",ng-class="{'visible':form.state=='submit'}",ng-cloak)
        .btn.btn-default.btn-lg.btn-block.disabled(ng-show="form.state=='done'",ng-cloak) 購買完成！#[i.fa.fa-check]
        .tiny.grayed.pull-right(style="margin-top: 5px") * 下單後隔日發貨，約 2 ~ 4 天送達，溫暖您的腳不需久候
      br
      hr
      br

    #a-about.a-offset
    #about.section: .inner(style="padding:0 20px")
      .spc
      br
      h2(style="margin-left:0") 關於襪之心
      div(style="font-weight:100")
        p 我們賣襪子，我們也只賣自己也愛穿的襪子。襪之心的襪子來自台灣，全程在地生產製造、經過嚴格品質把關，讓我們一起讓台灣被世界看見。
        br
        p 網路購物具七天鑑賞期 ( 貼身衣物需未經使用 )，瑕疵品則無條件退換貨，保障您的購物安心；若有商品相關或送貨、退貨問題，請來信至我們的客服信箱：#[a(href="mailto:contact@stockings.today") contact@stockings.today]
        br
      .spc
    #footer.section: .inner
      .spc
      br
      .pull-right
        a(href="mailto:contact@stockings.today") 客服信箱
      div: b 襪之心
      div stockings.today &copy; 2016 
  script(type="text/javascript",src="index.js")
  include ga.html
